* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color, filter 200ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
html {
  --bg: #efefef;
  --fg: #222;
  --important: #861212;
  --width: 400px;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin: 1rem 0;
}
main {
  width: 90%;
}
main li,
main p,
main button {
  margin: 0.5rem 1rem;
}
main p {
  margin: 1.5rem 0;
}
.required,
a {
  color: var(--important);
  text-decoration: none;
}
a:hover {
  filter: brightness(80%);
}
a:visited {
  filter: saturate(30%);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input,
form label,
form p {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.2rem 0;
}
form input {
  padding: 0.5rem 1rem;
}
.main-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
  padding: 0.6rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: background-color border 90ms;
  background-color: #22222260;
}
button.primary,
.main-button {
  background-color: #17489d;
  color: #efefef;
}
button:hover {
  filter: brightness(120%);
}
button:active {
  filter: brightness(180%);
}
button:focus {
  border-color: #ff9c2c;
}
button:disabled {
  filter: grayscale(0.8);
  opacity: 0.9;
}
form textarea {
  max-width: 90%;
  min-height: 20ch;
  max-height: 30ch;
}
form textarea,
form input {
  border-radius: 4px;
}
#hbd-nav-logo {
  display: block;
  background-image: url("../favicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 50px;
  margin: 2rem auto;
}
@media screen and (min-width: 400px) {
  main {
    max-width: var(--width);
    font-size: 1.2rem;
  }
  form textarea {
    min-width: var(--width);
    width: var(--width);
    max-width: var(--width);
  }
  p,
  li {
    line-height: 1.4rem;
  }
}
