<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Preconnect statements for crossorigin requests -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>Contact | Hungry Blue Dev</title>
    <meta name="title" content="Contact | Hungry Blue Dev" />
    <meta
      name="description"
      content="Contact page with options and contact form for Hungry Blue Dev's website."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://contact.hungrybluedev.in/" />
    <meta property="og:title" content="Contact | Hungry Blue Dev" />
    <meta
      property="og:description"
      content="Contact page with options and contact form for Hungry Blue Dev's website."
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://contact.hungrybluedev.in/" />
    <meta property="twitter:title" content="Contact | Hungry Blue Dev" />
    <meta
      property="twitter:description"
      content="Contact page with options and contact form for Hungry Blue Dev's website."
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />

    <!-- Immediate, local, and remote stylesheets. -->
    <style>
      #extrainfo {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <main>
      <a href="https://hungrybluedev.in" id="hbd-nav-logo"></a>
      <h1>Options</h1>
      <p>There are a few ways to contact me:</p>
      <ol>
        <li>
          DM me on Twitter:
          <a href="https://twitter.com/hungrybluedev">@hungrybluedev</a>
        </li>
        <li>
          Find me on V Lang's
          <a href="https://discord.gg/vlang">Discord Server</a> as
          <strong>hungrybluedev</strong>
        </li>
        <li>
          Send me an email at
          <pre><code>subhomoy[at]hungrybluedev[dot]in</code></pre>
        </li>
        <li>
          Use the contact form below (works on mobile devices). Please allow
          upto a week for response before following-up.
        </li>
      </ol>
      <h1>Contact Form</h1>
      <form action="/contactform" method="POST">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="John Wick"
          required
        />

        <label for="email">Email </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="awesome@email.com"
          required
        />

        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" required />

        <label for="details">Details</label>
        <textarea
          name="details"
          id="details"
          cols="40"
          rows="10"
          required
        ></textarea>

        <div class="required"><p>All fields are required.</p></div>

        <div
          class="g-recaptcha"
          data-sitekey="{{ captcha_client_key }}"
          data-callback="tryToEnableButton"
          data-expired-callback="disableButton"
        ></div>

        <input type="text" name="extrainfo" id="extrainfo" />

        <button type="submit" id="submit-button" class="primary" disabled>
          Submit
        </button>
      </form>
    </main>
    <script type="text/javascript">
      const submitButton = document.getElementById("submit-button");
      function tryToEnableButton() {
        if (grecaptcha.getResponse().length > 0) {
          submitButton.disabled = false;
        }
      }
      function disableButton() {
        submitButton.disabled = true;
      }
    </script>
  </body>
</html>
